<div id="conact-anchor" class="contact-wrapper">
    <div class="contact-body">
        <h2>I am contactable.</h2>
        <div>
            Please send me things and pay attention to me.
        </div>
        <div class="contact-list">
            @for(contact of contacts; track contact.value) {
                <div class="contact-item">
                    <a [href]="contact.href">
                        <span style="background-image: url({{ contact.icon }});"></span>
                        {{ contact.label }}
                    </a>
                </div>
            }
        </div>
    </div>
    <div class="footer-wrap">
        <div class="bottom-bar"></div>
        <div class="copyright">&#xA9; {{ year }} All Rights Reserved</div>
    </div>
</div>
